<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>TTC Dang Huynh</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="/assetsLogin/img/favicon.png" />
  <!-- CSS here -->
  <link rel="stylesheet" href="/assetsLogin/css/bootstrap.min.css" type="text/javascript" />
  <link rel="stylesheet" href="/assetsLogin/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="/assetsLogin/css/slicknav.css" />
  <link rel="stylesheet" href="/assetsLogin/css/flaticon.css" />
  <link rel="stylesheet" href="/assetsLogin/css/progressbar_barfiller.css" />
  <link rel="stylesheet" href="/assetsLogin/css/gijgo.css" />
  <link rel="stylesheet" href="/assetsLogin/css/animate.min.css" />
  <link rel="stylesheet" href="/assetsLogin/css/animated-headline.css" />
  <link rel="stylesheet" href="/assetsLogin/css/magnific-popup.css" />
  <link rel="stylesheet" href="/assetsLogin/css/fontawesome-all.min.css" />
  <link rel="stylesheet" href="/assetsLogin/css/themify-icons.css" />
  <link rel="stylesheet" href="/assetsLogin/css/slick.css" />
  <link rel="stylesheet" href="/assetsLogin/css/nice-select.css" />
  <link rel="stylesheet" href="/assetsLogin/css/style.css" />
  <!-- AngularJs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="/socket.io/client-dist/socket.io.js" type="text/javascript"></script>
</head>

<body>
  <!-- ? Preloader Start -->
  <div class="main" ng-app="myapp">
    <div ng-controller="myctrl">
      <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
          <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
              <img src="/assetsLogin/img/logo/logodh_mautrang_cokhung-1.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <!-- Preloader Start-->
      <main class="login-body" data-vide-bg="/assetsLogin/img/login-bg.mp4">
        <!-- Login Admin -->
        <a href="/dashboard">
          <form class="form-default" method="POST">
            <div class="login-form">
              <!-- logo-login -->
              <div class="logo-login">
                <a href="/dashboard"><img src="/assetsLogin/img/logo/logodh_mautrang_cokhung-1.png" alt="" /></a>
              </div>
              <h2>ĐĂNG NHẬP</h2>
              <div class="form-input">
                <label for="email">Email</label>
                <input id="email" ng-model="user.email" type="email" name="email"
                  placeholder="example@ttcdanghuynh.vn" />
              </div>
              <div class="form-input">
                <label for="name">Password</label>
                <input id="password" ng-model="user.password" type="password" name="password"
                  placeholder="Vui lòng nhập mật khẩu ..." />
              </div>
              <div class="form-input pt-30">
                <button class="btn btn-success" ng-click="login()">ĐĂNG NHẬP</button>
              </div>
            </div>
          </form>
        </a>
        <!-- /end login form -->
      </main>
    </div>
  </div>
  <script src="/assetsLogin/js/vendor/modernizr-3.5.0.min.js"></script>
  <!-- Jquery, Popper, Bootstrap -->
  <script src="/assetsLogin/js/vendor/jquery-1.12.4.min.js"></script>
  <script src="/assetsLogin/js/popper.min.js"></script>
  <script src="/assetsLogin/js/bootstrap.min.js"></script>
  <!-- Jquery Mobile Menu -->
  <script src="/assetsLogin/js/jquery.slicknav.min.js"></script>
  <!-- Video bg -->
  <script src="/assetsLogin/js/jquery.vide.js"></script>
  <!-- Jquery Slick , Owl-Carousel Plugins -->
  <script src="/assetsLogin/js/owl.carousel.min.js"></script>
  <script src="/assetsLogin/js/slick.min.js"></script>
  <!-- One Page, Animated-HeadLin -->
  <script src="/assetsLogin/js/wow.min.js"></script>
  <script src="/assetsLogin/js/animated.headline.js"></script>
  <script src="/assetsLogin/js/jquery.magnific-popup.js"></script>
  <!-- Date Picker -->
  <script src="/assetsLogin/js/gijgo.min.js"></script>
  <!-- Nice-select, sticky -->
  <script src="/assetsLogin/js/jquery.nice-select.min.js"></script>
  <script src="/assetsLogin/js/jquery.sticky.js"></script>
  <!-- Progress -->
  <script src="/assetsLogin/js/jquery.barfiller.js"></script>
  <!-- counter , waypoint,Hover Direction -->
  <script src="/assetsLogin/js/jquery.counterup.min.js"></script>
  <script src="/assetsLogin/js/waypoints.min.js"></script>
  <script src="/assetsLogin/js/jquery.countdown.min.js"></script>
  <script src="/assetsLogin/js/hover-direction-snake.min.js"></script>
  <!-- contact js -->
  <script src="/assetsLogin/js/contact.js"></script>
  <script src="/assetsLogin/js/jquery.form.js"></script>
  <script src="/assetsLogin/js/jquery.validate.min.js"></script>
  <script src="/assetsLogin/js/mail-script.js"></script>
  <script src="/assetsLogin/js/jquery.ajaxchimp.min.js"></script>
  <!-- Jquery Plugins, main Jquery -->
  <script src="/assetsLogin/js/plugins.js"></script>
  <script src="/assetsLogin/js/main.js"></script>
  <script type="text/javascript">
    var app = angular.module("myapp", []);
    app.controller("myctrl", function ($scope) {
      $scope.user = {
        email: "",
        password: "",
      };
      //Function Login
      $scope.login = () => {
        var socket = io.connect("http://localhost:8080");
        console.log("Connect Socket.io Successfully");
        console.log("Email: " + $scope.user.email + " / " + "Password: " + $scope.user.password);
        var email = $scope.user.email;
        var password = $scope.user.password;
        if (email != null && password != null) {
          alert("Vui lòng nhập Email & Mật khẩu của bạn!");
        } else {
            socket.on("connect", function (data) {
            socket.emit("login", $scope.user.email, $scope.user.password);
            socket.on("login", function (data) {
              if (data == true) {
                window.location = "http://localhost:8080/dashboard";
                alert("Login Succesfully");
              } else {
                alert("Login Failed");
              }
            });
          });
        }
      };
    });
  </script>
</body>

</html>